src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	  xmlns:json="http://www.mulesoft.org/schema/mule/json"
	  xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="EE-3.7.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
	<batch:job name="syncUserBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
			<batch:step name="foreachUserInWorkdayGetUserInSalesforce">
				<enricher source="#[payload]" target="#[recordVars['userInSalesforce']]"
					doc:name="store result in record var 'userInSalesforce'">
					<sfdc:query-single config-ref="Salesforce"
						query="SELECT Id,Alias,Email,EmailEncodingKey,FirstName,LanguageLocaleKey,LastName,LocaleSidKey,ProfileId,TimeZoneSidKey,Title,Username FROM User WHERE Email = '#[payload['Email']]'"
						doc:name="Query User in Salesforce" />
				</enricher>
			</batch:step>
			<batch:step name="foreachUserInWorkdayUpsertUserInSalesforce" accept-expression="#[recordVars['userInSalesforce'] != null]">
                <dw:transform-message doc:name="Prepare user for Update">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	FirstName: payload.FirstName,
	LastName: payload.LastName,
	Username: payload.Username,
	CommunityNickname: payload.CommunityNickname, 
	// Add target system ID as it is an update plus mandatory fields Alias, TimeZoneSidKey, LocaleSidKey, EmailEncodingKey, ProfileId, LanguageLocaleKey
	Id: recordVars.userInSalesforce.Id,
    Alias: recordVars.userInSalesforce.Alias,
    TimeZoneSidKey: recordVars.userInSalesforce.TimeZoneSidKey,
    LocaleSidKey: recordVars.userInSalesforce.LocaleSidKey,
    EmailEncodingKey: recordVars.userInSalesforce.EmailEncodingKey,
    ProfileId: recordVars.userInSalesforce.ProfileId,
    LanguageLocaleKey: recordVars.userInSalesforce.LanguageLocaleKey
}]]></dw:set-payload>
                </dw:transform-message>
				<batch:commit size="200" doc:name="Batch Commit">
                    <sfdc:update config-ref="Salesforce" type="User" doc:name="Update Users in Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:update>
                    <logger message="Users update result: #[payload]" level="INFO" doc:name="Logger 'users update result'"/>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="Transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="Log 'Migration process has finished'"
				message="Migration process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>

    <flow name="mainFlow" >
        <batch:execute name="syncUserBatch" doc:name="Trigger broadcastLeadBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Catch Exception and call defaultExceptionStrategy"/>
    </flow>
</mule>
