src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.5.2"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/2.0/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    
	<batch:job name="syncUserBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
			<batch:step name="foreachUserInWorkdayGetUserInSalesforce">
				<enricher source="#[payload]" target="#[recordVars['userInSalesforce']]"
					doc:name="store result in record var 'userInSalesforce'">
					<sfdc:query-single config-ref="Salesforce"
						query="SELECT Id,Alias,Email,EmailEncodingKey,FirstName,LanguageLocaleKey,LastName,LocaleSidKey,ProfileId,TimeZoneSidKey,Title,Username FROM User WHERE Email = '#[payload['Email']]'"
						doc:name="query User in Salesforce" />
				</enricher>
			</batch:step>
			<batch:step name="foreachUserInWorkdayUpsertUserInSalesforce" accept-expression="#[recordVars['userInSalesforce'] instanceof NullPayload == false]">
                <expression-component doc:name="prepare user for Update"><![CDATA[if (recordVars['userInSalesforce'] instanceof NullPayload) {
} else {
	// Add target system ID as it is an update plus mandatory fields Alias, TimeZoneSidKey, LocaleSidKey, EmailEncodingKey, ProfileId, LanguageLocaleKey
    payload.put('Id', recordVars['userInSalesforce']['Id']);
    payload.put('Alias', recordVars['userInSalesforce']['Alias']);
    payload.put('TimeZoneSidKey', recordVars['userInSalesforce']['TimeZoneSidKey']);
    payload.put('LocaleSidKey', recordVars['userInSalesforce']['LocaleSidKey']);
    payload.put('EmailEncodingKey', recordVars['userInSalesforce']['EmailEncodingKey']);
    payload.put('ProfileId', recordVars['userInSalesforce']['ProfileId']);
    payload.put('LanguageLocaleKey', recordVars['userInSalesforce']['LanguageLocaleKey']);
    payload.put('Username', recordVars['userInSalesforce']['Username']);
}
payload.remove('LastModifiedDate');]]></expression-component>
				<batch:commit size="200" doc:name="Batch Commit">
                    <sfdc:update config-ref="Salesforce" type="User" doc:name="update Users in Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:update>
                    <logger message="Users update result: #[payload]" level="INFO" doc:name="Logger 'users update result'"/>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="log 'Migration process has finished'"
				message="Migration process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>

    <flow name="mainFlow" >
        <batch:execute name="syncUserBatch" doc:name="trigger broadcastLeadBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultExceptionStrategy"/>
    </flow>
</mule>
